/* andreas09 v1.0 (Dec 10th 2005) - An open source template by Andreas Viklund - http://andreasviklund.com. Free to use for any purpose as long as the proper credits are given to the original author. */

body {
background:#8b8b8b;
color:#303030;
font:76% Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}


a {
color:#39c;
font-weight:bold;
text-decoration:none;
padding: 5px 0 5px 0;
}

a:hover {
color:blue;
font-weight:bold;
text-decoration:underline;
}

/*** Main container ***/

#container {
background:#f0f0f0 url(img/bodybg.jpg) repeat-x;
color:#303030;
margin:0;
min-width:770px;
padding:0;
text-align:left;
width:100%;
}

/*** Header section ***/

#logo {
  float: left;
}

#sitename {
color:#ffffff;
height:92px;
margin:0 20px 10px;
text-align:left;
}

#sitename h1,#sitename h2 {
font-weight:400;
letter-spacing:-2px;
margin:0;
padding:0;
}

#sitename a {
	font-weight: normal;
	color: #FFFFFF;
}

#sitename h1 {
font-size:2.6em;
padding-top:20px;
}

#sitename h2 {
font-size:1.6em;
}

/*** Horizontal menu ***/

#mainmenu {
float:left;
margin-bottom:25px;
}

#mainmenu ul {
font-size:16px;
margin:0;
padding:0;
}

#mainmenu li {
float:left;
height:35px;
list-style:none;
margin:0;
padding:0;
}

#mainmenu a {
border-right:1px solid #b0b0b0;
color:#606060;
display:block;
font-size:0.7em;
padding:11px 10px 10px;
text-transform:uppercase;
}

#mainmenu a:hover {
background:#f0f0f0 url(img/menuhover.jpg) top left repeat-x;
color:#505050;
text-decoration:none;
}

#mainmenu a.active {
background:#f0f0f0 url(img/menuhover.jpg) top left repeat-x;
color:#505050;
text-decoration:none;
}

/*** Content wrap ***/

#wrap {
clear:both;
font-size:0.9em;
padding:0;
}

/*** Sidebars ***/

#leftside,#rightside {
margin:0;
padding:0 10px 10px;
width:165px;
}

#leftside {
float:left;
margin-right:10px;
}

#rightside {
float:right;
margin-left:10px;
}

#leftside h1,#rightside h1 {
color:#505050;
font-size:1.6em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 3px;
}

#leftside h2,#rightside h2 {
font-size:1.1em;
margin:0 0 20px;
}

#leftside p,#rightside p {
font-size:0.9em;
line-height:1.4em;
margin:0 0 16px 10px;
}

/*** Mission ***/
#mission {
background: #E6E3E1 url(img/mission.jpg) top left repeat-x;
border:1px dotted #909090;
color:white;
padding:20px;
margin: 0 200px;
}

/*** Content ***/

#content {
background-color:#fafcff;
border:1px solid #909090;
color:#2a2a2a;
padding:20px 20px 5px;
margin:0 200px;
line-height: 1.5em;
}

#content h1, #content h2 {
background-color:inherit;
color:#606060;
font-size:1.8em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 .5em 0;
padding:0;
}

#content h2 {
font-size:1.6em;
margin-bottom:10px;
}

#content h3 {
	padding: 0;
	margin: 0;
}

/* removed - causes issues with TinyMCE */
/* #content img {*/
/*  border:1px solid #b0b0b0;*/
/*  float:left;*/
/*  margin:5px 15px 6px;*/
/*  padding:5px;*/
/* } */

.links ul, .links li {
font-size: .95em;
display: inline;
}

.links li {
	padding: 0 15px 0px 0;
}

.links {
	text-align: right;
}

.submitted {
	padding: 0px 30px 0 20px;
	font-size: .9em;
   background:url(icons/calendar.png)  no-repeat 0 2px;

}

.postinfo {
	background-color: #EDEDED;
	padding: 0px 6px 0px 2px;
	font-size: .9em;
	text-align: right;
	margin-top: 10px;
	border: 1px solid #CCCCCC;
}

.postinfo ul, .postinfo li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.postinfo li {
	padding: 0 15px 0 0;
}

#content .feed-icon {
	display: none;
}

.node {
	margin-bottom: 30px;
}

.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

.block {
background: white url(img/gradient.gif) top left repeat-x;
	margin-bottom: 25px;
padding: 5px; 
border: 1.5px solid #575757;
}

tr.odd td{
  padding: 0.3em;
    background-color: #fff;

}
 tr.even td {
  padding: 0.3em;
    background-color: #eee;

}


/*** Footer ***/

#footer {
background:#8b8b8b url(img/footerbg.jpg) top left repeat-x;
clear:both;
color:#d0d0d0;
font-size:0.9em;
font-weight:bold;
margin:0;
padding:20px 0;
text-align:center;
width:100%;
}

#footer a {
color:#d0d0d0;
font-weight:bold;
}

#copyright{
background:#8b8b8b;
color:#d0d0d0;
font-size:0.75em;
font-weight:bold;
text-align:center;
width:100%;
}

#copyright a {
color:#d0d0d0;
font-weight:bold;
}


/*** Various classes ***/

.clearingdiv {
clear:both;
height:30px;
width:1px;
}

.hide {display:none;}

/*** drupal.css fixes ***/
.profile {
	clear: none;
}

.node-form .standard {
	clear: none;
}

.poll .bar .foreground {
  clear: none;
}

/*** Text format ***/

.intro {
font-size:1.1em;
font-weight:bold;
letter-spacing:-1px;
}

.small {font-size:0.8em;}
.large {font-size:1.4em;}
.center {text-align:center;}
.right {text-align:right;}


/*** Additions ***/
.node {
	padding-bottom: 10px;
}

/*** FORM fix ***/
form {
  width: 99%;
}

/**********Display Icons *******************/
li.comment_comments a {
  padding-left: 20px;
  background:url(icons/comment.png)  no-repeat 0 2px;
}
li.comment_add a {
  background: url(icons/comment_add.png) no-repeat 0 1px;
  padding-left: 18px;
}

li.node_read_more a {
  background: url(icons/readmore.png) no-repeat 0 2px;
  padding-left: 18px;
}

li.upload_attachments a {
  background: url(icons/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(icons/comment_delete.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(icons/comment_edit.png) no-repeat 0 0;
  padding-left: 18px;
}

li.comment_reply a {
  background: url(icons/comment_add.png) no-repeat 0 0;
  padding-left: 18px;
}
#block-user-2 ul li, #block-user-3 ul li {
  list-style-type:none;
  list-style-image: none;
  margin-left: -5px;
  padding: 0 0 10px 18px;
  background-image: url(icons/mini-user-light-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.status {
  background: url(icons/icon-info.png) no-repeat;
    padding: 10px 0 20px 42px;
}
.taxonomy li.first {
  background: url(icons/tag_red.png) no-repeat 0 2px;
  padding-left: 15px !important;
}
.error {
  border-color: red;
    border: 2px solid #E1471D;
  background: #FCD295 url(icons/icon-alert.png) no-repeat;
    padding: 10px 0 10px 42px;
}
/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;

}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  text-decoration: underline;
  font-size: 1.4em;
}

#aggregator h3 {
  margin-top: 1em;
    text-decoration: underline;

}
#forum table {
  width: 100%;
  border:1px solid #111;
 font-size: 1.1em;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border:1px solid #bbb;

}
#forum td.forum, #forum td.posts {
  background-color: #eee;
  background: #f6f6f6 url("img/forum.gif") repeat-x 0% 0%
}
#forum td.topics, #forum td.last-reply {
  background-color: #eee;
}
#forum td.container {
  background: #fff url("img/forum_cont.gif") no-repeat;
  padding-left: 35px;
  padding-top: 6 px;
  padding-bottom: 6 px;
  border-bottom: thin solid black;
  

}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}

/* poll styles */

.poll .bar {
  height: 16px;
  background-color: #D4E2F2;
}

.poll .bar .foreground {
  background: url(img/bg-poll.gif) repeat-x;
  height: 16px;
  clear: none;
  float: left;
}

.poll .vote-form {
  text-align: center;
}

.poll .vote-form .choices {
  padding-left: 5%;
  text-align: left;
  display: block;
}
/*** End of file ***/