#container{background:#f0f0f0 url(../img/bodybg-green.jpg) repeat-x;}
#mainmenu a:hover{background:#f0f0f0 url(../img/menuhover-green.jpg) top left repeat-x;}
#mainmenu a.current{background:#f0f0f0 url(../img/menuhover-green.jpg) top left repeat-x;}
.styledbox {
  border: 1px solid #C0E0C2;
  padding: .5em;
  margin-bottom: 1em;
	background-color: #E8F5E8;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.9em;
  float: right;
  color: #C0E0C2;
}
